<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-avatar class="avatar">
        <img src="https://i.pravatar.cc/150?img=13" alt="User Avatar" />
      </ion-avatar>
      <ion-card-title>{{ user.name }}</ion-card-title>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h3>Roles asignados:</h3>
      <div class="roles-container">
        <ion-badge
          *ngFor="let role of user.roles"
          color="primary"
          class="role-badge,"
          style="margin: 5px; padding: 8px;"
        >
          {{ role }}
        </ion-badge>
      </div>

      <ion-button expand="block" color="medium" class="ion-margin-top">
        Editar Usuario
      </ion-button>
      <ion-button expand="block" color="tertiary" fill="outline">
        Asignar Roles / Permisos
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
